environments:             # root of the file
  - name: dev             # name of the environment (can have multiple envs with the same name)
    repositories:         # array with the names patterns on which the environment will be created
        - repo-pattern*
    reviewers:            # reviewers can be users or teams
      usernames: 
        - myuser
      teams:
        - team1
        - team2
    variables:            # Variables will created even though they exist in the org
      - name: foo
        value: bar
      - name: baz
        value: qux
    secrets:
      - secret1           # Secrets must exist at the org level
      - secret2
      - secret3
    
  - name: prod
    repositories:
        - repo-pattern*
    reviewers:
      usernames: 
        - myuser
      teams:
        - team1
    variables:
      - name: foo
        value: bar
      - name: baz
        value: qux
    secrets:
      - secret1
      - secret2
      - secret3